body {
    font-family: Arial;
}

h1 {
    text-align: center;
}

.flex-container {
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: auto;
    padding: 20px;
}
.paragraph {
    border:7px black solid;
}

.ptext {
    max-width: 500px;
    align-items: auto;
}

.rectangle {
    fill: cornflowerblue;
}

.rectangle:hover {
    fill:hotpink;
}

.circle {
    fill: plum;
}

.circle:hover {
    fill:greenyellow;
}

h3 {
    text-align: center;
}

.resources {
    text-align: center;
}

.links {
    display: inline-block;
    text-align: left;
}