body {
    font-family: Arial;
}

h1 {
    text-align: center;
}

.flex-container {
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: auto;
    padding: 10px;
}

.paragraph {
    border: 5px black solid;
    padding: 5px;
}
.ptext {
    max-width: 300px;
    align-items: auto;
    font-size: smaller;
}
.rectangle {
    fill: cornflowerblue;
}
.rectangle:hover{
    fill: hotpink;
}

.circle{
    fill: plum;
}
.circle:hover{
    fill: greenyellow;
}

h3 {
    text-align: center;
}

.resources {
    text-align: center;
}

.links {
    display: inline-block;
    text-align: left;
}